@keyframes rotation {
  from{
      transform: rotate(0turn);
  }
  to{
      transform: rotate(1turn);
  }
}

body,html{
  margin: 0;
  font-family: sans-serif;
}

button{
  border: transparent;
  border-radius: 5px;
  margin: 5px;
}

h1{
  margin-left: auto;
  margin-right: auto;
  text-decoration: underline;
}

h2{
  margin-left: 17%;
  text-decoration: underline;
}

span{
  margin-top: 8px;
  font-size: 13px;
  font-style: italic;
}

#container{
  display:flex;
  flex-direction: row;
  width: 95%;
  margin: 20px auto;
}
#containerContacts,#containerDisplayContacts{
  display: flex;
  flex-direction: column;
  border: solid black 1px;
  border-radius: 5px;
}

#btnAddContact{
  background-color: rgb(4, 92, 207);
  font-size: 20px;
  color: white;
}
#btnAddContact:hover{
  background-color: rgb(2, 66, 150);
  transform: translateY(-0.15rem);
  box-shadow:  5px 2px 2px  rgba(0, 0, 0, 0.555);
}

#containerContacts{
  width: 20%;
  padding: 5px;
  margin-right: 10px;
}

.btnContact{
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  font-size: 15px;
  height: 40px;
}
.btnContact:hover{
  background-color: rgb(53, 53, 53);
  color: white;
  transform: translateY(-0.15rem);
  box-shadow:  5px 2px 2px  rgba(0, 0, 0, 0.555);
}
.concontainerDisplayContactsOff{
  visibility: hidden;
}

#containerDisplayContacts{
  width: 80%;
  height: 50%;
}
#containerDisplayContacts > div {
  margin-top: 20px;
  font-size: 25px;
  font-family: sans-serif;
}
#textContainer{
  margin-left: 35px;
}
#textContainer>div{
  margin-top: 15px;
}

#btnContainer{
  text-align: center;
}

#btnSurp{
  background-color: rgb(201, 2, 2);
  color: white;
  width: 160px;
  height: 40px;
}
#btnSurp:hover{
  background-color: rgb(150, 1, 1);
  transform: translateY(-0.15rem);
  box-shadow:  5px 2px 2px  rgba(0, 0, 0, 0.555);
}

#btnModif{
  background-color: rgb(199, 163, 2);
  color: white;
  width: 160px;
  height: 40px;
}
#btnModif:hover{
  background-color: rgb(151, 124, 2);
  transform: translateY(-0.15rem);
  box-shadow:  5px 2px 2px  rgba(0, 0, 0, 0.555);
}

/* gestion du modal */
.modalOff {
  display: none; 
}
.modalOn{
  display: block;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.705);
}
.modal-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 10% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 35%; 
  border-radius: 10px;
}

/* elements du modal */
#formAddContact,#formModifContact{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  text-align: left;
}

#formAddContact>input,#formModifContact>input{
  border: solid black 1px;
  border-radius: 5px;
  margin-top: 5px;
}

#formAddContact>label,#formModifContact>label{
  width: 80%;
  margin-top: 15px;
}

.close{
  margin-left: 90%;
  width: 5%;
  padding-bottom: 4px;
  border-radius: 100%;
  font-size: 18px;
}

.close:hover{
  animation: rotation 0.5s linear 0s 1;
}

#btnModalAddContact,#btnModalModifContact{
  width: 20%;
  margin: 20px auto;
  background-color: rgb(1, 150, 1);
  color: white;
  width: 60px;
  height: 25px;
}
#btnModalAddContact:hover,#btnModalModifContact:hover{
  background-color: rgb(1, 100, 1);
  transform: translateY(-0.15rem);
  box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.555);
}
